
<div class="container">
  <div class="card">
    <form action="">
      <img src="../assets/img/calcme-V7-3.1.png" class="card-img-top" alt="logo">
      <div class="mb-3">
        <label  class="form-label">Nome</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" id="validationTextarea" placeholder="seu nome">
        <div class="invalid-feedback">
          Please enter a message in the textarea.
        </div>
      </div>
      <div class="mb-3">
        <label  class="form-label">E-mail</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="seu e-mail">
      </div>
      <div class="mb-3">
        <label  class="form-label">Telefone</label>
        <input type="email" class="form-control" id="inputTel" placeholder="(99) 99999-9999" mask="(99) 99999-9999" maxlength="11">
      </div>
      <div class="mb-3">
        <label  class="form-label">Senha</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="sua senha">
      </div>
      <div class="mb-3">
        <button type="button" class="btn btn-success">Salvar</button>
      </div>
    </form>
  </div>
</div>
